root {
    font-size: 16px;    
}

body {
    background: lightgrey;
}

header {
    background: white;
}

nav {
    display: flex;
    padding: 0.4vw 5vw;
}

.nav-left-side {
    display: flex;
    width: 50vw;
}

.nav-right-side {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.nav-right-side figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-right-side img {
    width: 20px;
    height: 20px;
}

.nav-left-side img {
    width: 35px;
    height: 35px;
}

.nav-search {
    padding-left: 1.2vw;
}

.input-image {
    background-color: lightblue;
    background-image: url('icons/loupe.png');
    background-repeat: no-repeat;
    background-position: 1vw 50%;
    border: 0px solid lightblue;
    width: 30vw;
    height: 34px;
    border-radius: 3px;
}

.input-image::placeholder {
    position: absolute;
    left: 4vw;
    top: 10px;
}

#photo-profile {
    border-radius: 100%;
}

figcaption {
    font-size: 0.8rem;
    padding-top: 0.2vw;
}
