root {
    font-size: 16px;    
}

body {
    background: lightgrey;
}

header {
    background: white;
}

nav {
    display: flex;
    padding: 0.5vw 5vw;
}

.nav-left-side {
    display: flex;
    width: 50vw;
}

.nav-right-side {
    display: flex;
    justify-content: space-between;
    width: 50vw;
}

.nav-right-side figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-right-side img {
    width: 22px;
    height: 22px;
}

.nav-left-side img {
    width: 35px;
    height: 35px;
}

.nav-search {
    display: flex;
    align-items: center;
    width: 25vw;
    background: lightblue;
    margin-left: 1vw;
    border-radius: 5px;
}

.nav-search img {
    width: 20px;
    height: 20px;
    padding-left: 0.5vw
}

.nav-search input {
    background: lightblue;
    border: 0px solid lightblue;
    width: 20vw;
}

#photo-profile {
    border-radius: 50%;
}

figcaption {
    font-size: 0.8rem;
    padding-top: 0.2vw;
}
